@font-face {
    font-family: "LiberationSans-Bold";
    src: url('typo/LiberationSans-Bold.ttf');
}

@font-face {
    font-family: "LiberationSans-BoldItalic";
    src: url('typo/LiberationSans-BoldItalic.ttf');
}

@font-face {
    font-family: "LiberationSans-Italic";
    src: url('typo/LiberationSans-Italic.ttf');
}

@font-face {
    font-family: "Millimetre-Regular";
    src: url('typo/Millimetre-Regular.ttf');
}

@font-face {
    font-family: "LiberationSerif-Bold";
    src: url('typo/LiberationSerif-Bold.ttf');
}

@font-face {
    font-family: "LiberationSerif-BoldItalic";
    src: url('typo/LiberationSerif-BoldItalic.ttf');
}
@font-face {
    font-family: "LiberationSerif-Italic";
    src: url('typo/LiberationSerif-Italic.ttf');
}
@font-face {
    font-family: "Karrik-Regular";
    src: url('typo/Karrik-Regular.ttf');
}



html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Helvetica';
    overflow: auto;
    color:#1e1e1e;
  background-color: #f1f1f1;


}


.p{


}




::-webkit-scrollbar {
    display: none;
}




#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}


.center {
  font-size: 2.5vw;
  text-align:right;
  overflow: hidden;
  position: fixed;
right: 3vh;
  bottom: -1vh;
  z-index: 10;



}

.contact:hover{
text-decoration: underline;

}

.centerphone{
  display: block;
  width: 100%;

}

.projects::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;

}


.iyo{
  font-family: 'Helvetica';
  font-size: 14px;
  color: #50814F;
  position: fixed;
  left: 1.5vh;
  bottom: -1vh;
  visibility: hidden;

}



.fermé {
    transform: rotate(-90deg);
}

.title {
    text-decoration: none;
    text-transform: uppercase;
    position: fixed;
    right: 2vh;
    top: 2.3vh;
    font-size: 30px;
    color: #1f1f1f;
    font-family: 'Karrik-Regular';
    z-index: 50;
}

.title1{
  text-transform: uppercase;
  position: fixed;
  left: 3vh;
  top: 3vh;
  font-size: 30px;
  color: #1f1f1f;
  font-family: 'Karrik-Regular';
  z-index: 50;

}

.title:hover {
    color: #CA522E;
}

.mail {
    position: fixed;
    left: 1vh;
    top: -1.8vh;


}

.title:hover #biographie {
    opacity: 1;
}

#biographie {
    text-transform: none;
    text-decoration: none;
    opacity: 0;
    position: fixed;
    left: 15%;
    top: 2vh;
    color: #CA522E;
    transition: 0.5s;
    transform: translate(-50%, 0);


}


.block {
    cursor: pointer;
    text-decoration: none;
    color: #EAEBE3;
    z-index: 50;
    display: inline-block;


}


.block:hover {
    color: #5401FF;
}

.menu {
    width: 70%;
    position: fixed;
    text-align: center;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
    top: unset;
    color: #1e1e1e;
    z-index: 8;
    font-size: 3vh;
    margin: 5vh;


}

.menu:first-line {
    width: 60%;
}

.navCategorie {
    position: absolute;
    z-index: 300;
    display: block;
    left: 3vh;
    top: 3vh;
    font-size: 3vh;
    text-transform: capitalize;
}



.navCategorie a {
    display: block;
    text-decoration: none;
    color: #1e1e1e;
    font-family: 'Helvetica';

}

.navCategorie a:hover {
color: #CA522E;
}

.navCategorieBig {
    position: absolute;
    z-index: 300;
    display: block;
    left: 3vh;
    top: 10vh;
    font-size: 3vh;
    text-transform: capitalize;

}

.navCategorieBig a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: #1e1e1e;
    font-family: 'Helvetica';

}

.navCategorieBig a:hover {
color: #CA522E;
}

.projects {
    margin-top: -1vh;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    display: flex;
    transition: 1s;

}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    max-width: 100%;
}


.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.object {
    height: max-content;
    display: flex;
    margin-left: 20vh;
}

.project {
    height: 100%;
    display: inline-block;
    text-align: center;
    margin-left: 40px;
    cursor: pointer;
    background-color: blue;

}

#biographieA {
    display: none;

}

.object video {
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    width: 900px;
    vertical-align: top;

}

.modal {
    overflow: hidden;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    font-size: 20px;
    top: 0;
    /* Sit on top */
    left: 15vw;
    background-color: #EAEBE3;
    height: 100%;
    width: calc(100% - 15vw);
}


.textdescri {
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    margin-left: 20px;
    width: 25vw;
    color: #5401FF;
    cursor: default;
    opacity: 0;
    text-align: left;
    font-family: 'Arial';
    font-size: 12px;
    z-index: 50;


}

/* Modal Content/Box */
.modal-content {
    width: 100%;
    margin-top: 9vh;
    height: calc(100% - 9vh);

}

.point {
    display: inline-block;
    padding-left: 2vh;
    padding-right: 2vh;

}

.lien {
    z-index: 8;
    height: max-content;
    width: max-content;
    font-size: 35px;
    text-decoration: none;
    color: #49E66B;
    font-family: 'Karrik-Regular';

}

.lien:hover {
    text-decoration: underline;
}

.close {
    float: right;
    font-size: 58px;
    font-weight: lighter;
    padding-right: 3vh;
    line-height: 3.5vh;
}

.close img {
    width: 30px;
    transition: width 0.2s linear, height 0.2s linear;
    cursor: pointer;
}

.image {
    vertical-align: top;

}

.close:hover img,
.close:focus img {
    width: 50px;

}











@media screen and (max-width: 1400px) {
  #myVideo {
width: 140%;

  }
}





@media screen and (max-width: 600px) {



  #myVideo {
display: none;

  }


.iyo{
visibility: hidden;
color: #2F861C;

}
  .center {
  display: none;


  }
    .block {
        display: block;
    }

    .object video {
        max-width: 100%;
        max-height: 70vh;
        transform: translate(0, 0);

    }

    .object img {
        max-width: 100%;

        transform: translate(0, 0);
    }

    .title:hover #biographie {
        opacity: 0;
    }

    .mail {
        right: -10vw;
        top: 1vh;
        left: unset;
        visibility: hidden;


    }

    #biographieA {
        display: block;
        width: 100%;
        height: 0%;
        z-index: 500;

    }

    #biographieB {

      text-align: center;
      width: 100%;
      margin-top: 30vh;
      margin-left: 2vh;
      transform: none;
      text-decoration: none;
      color: #EAEBE3;
      float: right;
      font-size: 22px;
      z-index: 500;

    }




    .menu {
        z-index: 600;
        bottom: unset;
        top: 3vh;
        left: 53%;
        margin-top: 4vh;
        display: none;
    }


    .point {
        display: none;
    }

    .image {
        width: 100%;

    }

    .lien {
        width: 90%;
        transform: translate(2.5%);
        text-align: right;
        font-size: 3vh;
        margin-top: 5vh;
        margin-bottom: 3vh;
    }

    .textdescri {
        text-align: right;
        width: 65vw;
        display: block;
        position: relative;
        transform: translate(-35%);
        left: 50%;
        margin-left: 0;
        margin-bottom: 2vh;
        opacity: 1;
        z-index: 50;

    }

    .modal {
        top: 15vh;
        height: calc(100% - 15vh);
    }



    .projects {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        height: max-content;

    }

    .project {}

    .object {
        display: flex;
        margin-bottom: 50vh;
        width: 100vw;
        flex-direction: column;
        margin-left: 0;
                margin-top: 0;

    }

    .navCategorie {
        top: 3vh;
        left: 3vh;
        font-size: 3vh;
    }

    .navCategorieBig {
      top: 3vh;
      font-size: 3vh;
      left:3vh;
    }

    .title{
      visibility: hidden;
    }

    .title1{
      visibility: hidden;
    }






}
